.inputAreaPortaria {
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #393E46;
    border-radius: 10px;
    margin-top: 2%;
  }